first-order-motion-model/*
vox-cpk.pth.tar
ensemble-cnn/weights/*
ensemblecnn/weights/*
X2Facemaster/release_models/*
X2Face-master/release_models/*
result_newwwenzo.mp4
static/*
testing2.jpg
testing.mp4
